@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans&display=swap");

/* newsページのcss */
a {
  color: #272727;
}

header {
  background-color: white;
  color: gray;
  height: 20%;
  font-size: 16px;
  font-family: "Noto Sans", sans-serif;
}

.header-logo {
  float: left;
  padding-top: 2%;
  padding-left: 10%;
}

.navi {
  float: right;
  margin-right: 70px;
  width: 25%;
  font-family: "Noto Sans", sans-serif;
}

.header-list {
  list-style: none;
}

.header-list li {
  display: inline-flex;
  padding: 8%;
}

.header-list a {
  text-decoration: none;
}

.top-main {
  position: relative;
  z-index: -1;
}

.top-main img {
  width: 100%;
  height: auto;
}

.top-main h2 {
  position: absolute;
  color: #918f89;
  font-size: 30px;
  top: 0;
  margin: 216px 956px 207px 228px;
  font-family: "Noto Sans", sans-serif;
  font-weight: lighter;
}

.news-container h2 {
  text-align: center;
  margin-top: 11%;
  font-size: 21px;
  margin-top: 8%;
  font-family: "Noto Sans", sans-serif;
  font-weight: lighter;
  color: #3b3b3b;
  letter-spacing: 0.3rem;
}

.news-container {
  margin-bottom: 15%;
}

/* ここからスライド */
.container {
  width: 275.77px;
  height: 319.52px;
  /* border: 1px solid black; */
  position: relative;
  margin: 5%;
}

.container img {
  width: 275.77px;
  height: 319.52px;
}

.text {
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -50%);
  color: transparent;
  transition: 0.3s ease;
  width: 275.77px;
  text-align: center;
  opacity: 0.8;
}

.container::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.3s ease;
}

.container:hover:before {
  height: 100%;
}

.container:hover .text {
  color: white;
  top: 50%;
}

.slide-container {
  display: flex;
}

.footer {
  background-color: #918f89;
  color: white;
  width: 100%;
  height: 284px;
  margin-top: 20%;
  font-family: "Noto Sans", sans-serif;
}

.flex {
  display: flex;
  justify-content: space-between;
  padding: 116px 221px 71px 227px;
}

.footer-logo {
  box-sizing: border-box;
  font-size: 22px;
}

ul.footer-list {
  display: flex;
  font-size: 18px;
}

.footer-list li {
  margin-left: 104px;
}

.footer-last {
  background-color: #918f89;
  color: white;
  text-align: center;
  font-size: 10px;
  /* clear: both; */
}

.footer-list a {
  text-decoration: none;
  color: #ffffff;
}
