@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans&display=swap");

/* Q&Aページのcss */
a {
  color: #272727;
}

.top-main {
  height: 415px;
  position: relative;
  background-image: url("img/Q&A-main.jpeg");
  background-size: cover;
}

.top-main h1 {
  position: absolute;
  color: #ffffff;
  font-size: 30px;
  top: 0;
  margin: 187px 960px 199px 240px;
  font-family: "Noto Sans", sans-serif;
  letter-spacing: 3px;
  text-shadow: 10px 10px rgba(247, 246, 246, 0.2);
  /* z-index: 1; */
}

.question {
  margin: 98px 0 215px 0;
  text-align: center;
  font-family: "Noto Sans", sans-serif;
  font-weight: lighter;
  color: #3b3b3b;
}

.question h2 {
  margin-bottom: 73px;
  letter-spacing: 2px;
  font-weight: lighter;
}

.acd-check {
  display: none;
  margin-bottom: 100px;
}
.acd-label {
  display: block;
  margin-bottom: 100px;
  padding: 10px;
}
.acd-content {
  height: 0;
  opacity: 0;
  transition: 0.5s;
  visibility: hidden;
  margin-top: 92px;
}
.acd-check:checked + .acd-label + .acd-content {
  height: 40px;
  opacity: 1;
  margin: 0 0 10% 0;
  visibility: visible;
}

.footer {
  background-color: #918f89;
  color: white;
  width: 100%;
  height: 284px;
  margin-top: 20%;
  font-family: "Noto Sans", sans-serif;
}

.flex {
  display: flex;
  justify-content: space-between;
  padding: 116px 221px 71px 227px;
}

.footer-logo {
  box-sizing: border-box;
  font-size: 22px;
}

ul.footer-list {
  display: flex;
  font-size: 18px;
}

.footer-list li {
  margin-left: 104px;
}

.footer-last {
  background-color: #918f89;
  color: white;
  text-align: center;
  font-size: 10px;
}

.footer-list a {
  text-decoration: none;
  color: #ffffff;
}
