.header{
background-color: white;
color: gray;
height: 50px;
}

.header-list{
list-style: none;
}

.header-list li{
    display: inline-flex;
}

.header-logo{
    float: left;
    margin-left:88px;
}

.navi{
    float:right;
    margin-right: 90px;
}


.main-image{
    text-align: center;
    width: 100%;
}


