header {
  width: 100%;
  height: 55px;
  position: relative;
  background-color: #918f89;
  z-index: 1;
}
.header-logo {
  text-align: center;
  padding-top: 8px;
  color: #fff;
}
.menu {
  width: 100%;
}
.nav {
  margin-top: 60px;
  max-width: 750px;
  position: absolute;
  height: 380px;
  width: 100%;
  top: -385px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  background-color: #918f89;
  color: #fff;
  opacity: 0.9;
}
ul {
  background: #918f89;
  margin: 0;
  padding: 0;
}
li {
  height: 80px;
  padding: 15px 0 15px 0;
  list-style-type: none;
  text-align: center;
}
a {
  display: block;
  text-decoration: none;
  color: #fff;
}
#target {
  width: 40px;
  height: 30px;
  position: absolute;
  top: 14px;
  right: 10px;
  cursor: pointer;
  display: block;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}
.target_inner {
  width: 40px;
  height: 22px;
  position: relative;
}
.target_inner_line {
  display: block;
  width: 40px;
  height: 2px;
  background: #fff;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  position: absolute;
}
.target_inner_1 {
  top: 0;
}
.target_inner_2 {
  top: 13px;
}
.target_inner_3 {
  top: 26px;
}
.fadein {
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}
.linea,
.lineb,
.linec {
  background: #fff;
}
.linea {
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
  top: 10px;
}
.lineb {
  opacity: 0;
}
.linec {
  -webkit-transform: rotate(-225deg);
  transform: rotate(-225deg);
  top: 10px;
}
